<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <!-- <p>Hopefully something is working.</p> -->
        <script type="text/javascript">
            function jsFunction(value)
            {
                alert(value);
            }            
        </script>

        <div align="center">
            <select name="Type of Disease" onchange="UpdateMap(this.value)">
                <option value="small">Small</option>
                <option value="large">Large</option>                
            </select>
        </div>

        <div id="mapContainer"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuj10RU8Pl26mGSwt0ZVI9x2Hm4M2lZcc&libraries=visualization"></script>
        <script src="{{ url_for('static', filename='js/heatmap_es5.js') }}"></script>        
        <script>
            function UpdateMap(value)
            {
                generateMap('api/v1/' + value,
                        'mapContainer', 
                        {lat: 60.18, lng: 24.82},
                        false, // isPolitical
                        true, // showEvents
                        true, // showLeads
                        true // showHeatmap
                        )
            } 
            
        </script>
    </body>

</html>
